@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .form-input {
        @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-900;
    }
    .form-label {
        @apply block text-gray-900 text-sm font-bold mb-2;
    }
    .form-button {
        @apply bg-blue hover:bg-blue-dark text-white font-bold py-2 px-4 rounded;
    }
}

html,
body,
:root {
    height: 100%;
}

.leaflet-bottom,
.leaflet-top ,
.leaflet-control,
.leaflet-pane {
    z-index:0 !important;
}
.rdrMonth {
    width: 100% !important;
}

.rdrCalendarWrapper {
    font-size: 16px !important;
    width: 100% !important;
}

.flip-card {
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
}
